<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/MockEntityModelA.csdl|res://*/MockEntityModelA.ssdl|res://*/MockEntityModelA.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;F:\Development\BitBucket\umbraco\version5\Console Applications\Prototyping.UmbracoFrameworkConsole\MockEntityModelAStore.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>