@inherits WebViewPage<IList<Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker.ColorItem>>
              
@using Umbraco.Cms.Web;
@using ClientDependency.Core;
@using ClientDependency.Core.Mvc;
@using System.Web.Helpers;
@using System.Web.Mvc;
@using System.Web.Mvc.Ajax;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using System.Web.WebPages;
@using Microsoft.Web.Mvc;
@using Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker;
@using Umbraco.Cms.Web.EmbeddedViewEngine;
@using Umbraco.Cms.Web.PropertyEditors;

@{ 
    Html
        .RequiresJsResource(typeof(ColorSwatchPickerEditor), "Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker.Resources.ColorSwatchPickerPrevalueEditor.js")
        .RequiresCssResource(typeof(ColorSwatchPickerEditor), "Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker.Resources.ColorSwatchPickerPrevalueEditor.css");
        
}

<script type="text/javascript">

    (function ($) {
        $(document).ready(function () {

            Umbraco.PropertyEditors.ColorSwatchPickerPrevalueEditor.init({
                containerId: "#color-items",
                templateId: "#colorItemTemplate",
                addId: "#add"
            });
        });
    })(jQuery);

</script>
<script type="text/x-jquery-tmpl" id="colorItemTemplate">
        @Html.CollectionItemJQueryTemplate(EmbeddedViewPath.Create("Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker.Views.ColorItem.cshtml,Umbraco.Cms.Web.PropertyEditors"), new ColorItem())
</script>

<ul id="color-items">
@if (Model != null)
{ 
    foreach (ColorItem item in Model)
    {
         Html.RenderPartial(
             EmbeddedViewPath.Create(
                 "Umbraco.Cms.Web.PropertyEditors.ColorSwatchPicker.Views.ColorItem.cshtml,Umbraco.Cms.Web.PropertyEditors"),
                 item);
     }
}
</ul>
<a id="add" href="#">Add another color</a>