<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <membership defaultProvider="test">
      <providers>
        <clear/>
        <add name="test"
                     type="Umbraco.Tests.CoreAndFramework.Hive.DefaultProviders.Membership.CustomXmlMembershipProvider, Umbraco.Tests.CoreAndFramework"                     
                     applicationName="Test"                     
                     enablePasswordReset="true"
                     enablePasswordRetrieval="false"
                     maxInvalidPasswordAttempts="5"
                     minRequiredNonAlphanumericCharacters="0"
                     minRequiredPasswordLength="4"
                     passwordAttemptWindow="10"
                     passwordFormat="Clear"
                     passwordStrengthRegularExpression=""
                     requiresQuestionAndAnswer="false"
                     requiresUniqueEmail="true"                     
                     caseSensitive="false"
                     useUniversalTime="true"                     
                     fileName="Users.xml"
                     folder="~/App_Data/"/>
      </providers>
    </membership>    
  </system.web>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>