<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="0.6.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.6.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="NuGet.Core" version="1.5.20902.9026" />
</packages>